<a href="https://colab.research.google.com/github/trishulkumar/AI/blob/master/AI_Asst_18K41A0564.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

  1. Zodiac sign

In [16]:
x=int(input("Enter the year for Zodiac sign:"))
year=x%12
zodiac={0:"monkey",1:"rooster",2:"dog",3:"pig",4:"rat",5:"ox",6:"tiger",7:"rabbit",8:"dragon",9:"snake",10:"horse",11:"sheep"}
print(zodiac[year])

Enter the year for Zodiac sign:0
monkey


2.	A Quick Fox Transport Co. wants to develop an application for calculating amount based on distance and weight of goods. The charges (Amount) to be calculated as per rates given below

In [17]:
distance=int(input("Distance to be travel:"))
wt=int(input("Weight of the goods:"))
if distance>=500:
  if wt>=100:
    cost=5*distance
  elif wt>=10 and wt <100:
    cost=6*distance
  else:
    cost=7*distance 
else:
  if wt>=100:
    cost=8*distance
  else:
    cost=5*distance 
print("Amount to be charged:",cost)

Distance to be travel:134
Weight of the goods:23
Amount to be charged: 670

3.	**The Entertainment Paradise**

 A theater in Delhi wants to develop a computerized Booking System. The theater offers different types of seats. The Ticket rates are- Stalls- Rs. 625/-, Circle- Rs.750/-, Upper Class- Rs.850/- and Box- Rs.1000/-. A discount is given 10% of total amount if tickets are purchased on Cash. In case of credit card holders 5% discount is given. 
Input: 	Type of Seat: Circle    
Payment mode: cash
Output: Cost of ticket: 675

In [18]:
x=["Stalls","Circle","UpperClass","box"]
s=input("Type of seat:")
paym=input("Payment mode:")
p="cash"
if paym==p:
  if s in x[0]:
    dis=625*(0.1)
    y=625-dis
  elif s in x[1]:
    dis=750*(0.1)
    y=750-dis
  elif s in x[2]:
    dis=850*(0.1)
    y=850-dis
  else:
    dis=1000*(0.1)
    y=1000-dis
else:
  if s in x[0]:
    dis=625*(0.05)
    y=625-dis
  elif s in x[1]:
    dis=750*(0.05)
    y=750-dis
  elif s in x[2]:
    dis=850*(0.05)
    y=850-dis
  else:
    dis=1000*(0.05)
    y=1000-dis
print(y)

Type of seat:circle
Payment mode:cash
900.0

4.	Develop a program that calculates the energy needed to heat water from an initial temperature to a final temperature. Your program should prompt the user to enter the amount of water in kilograms and the initial and final temperatures of the water. The formula to compute the energy is 
Q = M * (finalTemperature – initialTemperature) * 4184.
where M is the weight of water in kilograms, temperatures are in degrees Celsius,  and energy Q is measured in joules. (L6)

In [19]:
w=int(input("Enter Amount of water:"))
x=w*(100-0)*4184
print("Energy:",x)

Enter Amount of water:5
Energy: 2092000

5.	Develop a program that prompts user to enter month and  print 
a.	“Winter ” -   December ,January and February
b.	“Spring”  -   March ,April and May
c.	“Summer”  --- June ,July, August
d.	“Autumn ”  -- September ,October, November

In [20]:
month = input("Input the month (e.g. January, February etc.): ")


if month in ('December', 'February', 'January'):
	season = 'Winter'
elif month in ('March', 'April', 'May'):
	season = 'Spring'
elif month in ('July', 'July', 'August'):
	season = 'Summer'
else:
	season = 'Autumn'


print("Season is",season)

Input the month (e.g. January, February etc.): August
Season is Summer

6.	Body Mass Index

In [21]:
wt=float(input("Enter weight:"))
ht=float(input("Enter height:"))
wt=wt*0.45359237
ht=ht*0.0254
b=wt/(ht**2)
if b<18.5:
  print("Underweight")
elif b>=18.5 and b<25.0:
  print("Normal")
elif b>=25.0 and b<30.0:
  print("Overweight")
else:
  print("Obese") 
print("BMI is:",b)

Enter weight:34
Enter height:199
Underweight
BMI is: 0.6036303554892911

7.	Write a program that reads an integer between 100 and 1000 and adds all the digits in the integer 	(	ex: input 745 	# output =16	(7+4+5)	)

In [22]:
# Python program to sum all the digits of an input number
num = int(input("Enter a Number: "))
result = 0
hold = num
while num > 0:
    rem = num % 10
    result = result + rem
    num = int(num/10)
print("Sum of all digits of", hold, "is: ", result)

Enter a Number: 234
Sum of all digits of 234 is:  9

 8.Print all palindrome number from 1 to 1000

In [23]:
minimum = int(input(" Please Enter the Minimum Value : "))
maximum = int(input(" Please Enter the Maximum Value : "))

print("Palindrome Numbers between %d and %d are : " %(minimum, maximum))
for num in range(minimum, maximum + 1):
    temp = num
    reverse = 0
    
    while(temp > 0):
        Reminder = temp % 10
        reverse = (reverse * 10) + Reminder
        temp = temp //10

    if(num == reverse):
        print("%d " %num, end = '  ')

 Please Enter the Minimum Value : 1
 Please Enter the Maximum Value : 1000
Palindrome Numbers between 1 and 1000 are :
1   2   3   4   5   6   7   8   9   11   22   33   44   55   66   77   88   99   101   111   121   131   141   151   161   171   181   191   202   212   222   232   242   252   262   272   282   292   303   313   323   333   343   353   363   373   383   393   404   414   424   434   444   454   464   474   484   494   505   515   525   535   545   555   565   575   585   595   606   616   626   636   646   656   666   676   686   696   707   717   727   737   747   757   767   777   787   797   808   818   828   838   848   858   868   878   888   898   909   919   929   939   949   959   969   979   989   999

9. Program to check Armstrong numbers in a certain interval**

In [24]:
# Program to check Armstrong numbers in a certain interval

lower = 100
upper = 2000

for num in range(lower, upper + 1):

   # order of number
   order = len(str(num))
    
   # initialize sum
   sum = 0

   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:
       print(num)

153
370
371
407
1634

10.	Write a Java program which iterates the integers from 1 to 100. For multiples of three print "Fizz" instead of the number and print "Buzz" for the multiples of five. When number is divided by both three and five, print "fizz buzz".

In [25]:
for i in range(1,101):
  if i%3==0 and i%5==0:
    print("Fizz buzz")
  elif i%5==0:
    print("buzz")
  elif i%3==0:
    print("fizz")
  else:
    print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
Fizz buzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
Fizz buzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
Fizz buzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
Fizz buzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
Fizz buzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
Fizz buzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

11.	Spider Problem: A spider present at the bottom of the well of height H, needs to get out of it, using the slippery wall of the well. It decides to climb up the well; it goes up U meters and slips down D meters in one single step. So, in each step it covers (U-D) meters, and if the spider gets out of the well by covering U meters in the last step it doesn’t a slip back. For example, if the spider climbs up 5 meters and slips down by 3 meters in a single step, it covers (U - D) m in each step and 96 m in 48 steps, but in the 49th step it climbs up 5 m and reaches out of the well and it will not slip down and the step is counted as one step.     
Input: Each test case will contain 3 integers ’H’ height of the well, next ’U’ meters climbs up in each step, and the last ’D’ meters slips down in each step.
Output:  The number of steps 'N' required to get out of the well.
Example 1:
 	Input:						Ouput 
	200 50 1					    5
	Example 2:
 	Input:						Output
	500 20 15					   98

In [26]:
hgt=int(input("hgt:"))
u=int(input("u:"))
d=int(input("d:"))
k=0
while (u-d)*k <=(hgt-u):
    k=k+1
print(k+1)

hgt:23
u:12
d:2
3